* {
  box-sizing: border-box;
  background-color: #fafafa;
}

.main {
  display: flex;
  flex-direction: column;
  width: 90%;
  border-radius: 8px;
  margin: 0 auto;
}

.top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}
.top-left-container {
  width: 50%;
  font-size: 1rem;
  font-family: "PT Serif";
  font-weight: 700;
}

.description {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1rem;
  width: 85%;
}

.sub-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}

.top-right-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.bottom-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}

.image-container {
  display: flex;
  flex-direction: column;
  width: 33.3%;
  flex-grow: 1;
  flex-shrink: 1;
}

.image-role-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.image {
  width: 70%;
}

.role {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 600;
  font-size: 0.75rem;
  transform: rotate(90deg);
  transform-origin: top left;
  align-self: flex-start;
  margin-left: 7%;
  text-transform: uppercase;
  white-space: nowrap;
}

.name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 30px;
}

.down {
  margin-top: 80px;
}

.mv-down {
  margin-top: 0px;
}

@media screen and (max-width: 768px) {
  .top-container {
    flex-direction: column;
  }
  .description {
    font-size: 1rem;
  }
  .top-left-container {
    width: 100%;
  }
  .top-right-container {
    width: 100%;
  }

  .image-container {
    margin-left: 2rem;
    width: 40%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .image {
    width: 80%;
  }
  .role {
    margin-left: 7%;
  }
  .name {
    font-size: 14px;
  }
  .down {
    margin-top: 0px;
  }
  .mv-down {
    margin-top: 70px;
  }
}
